{
  "printWidth": 100,
  "singleQuote": true,
  "overrides": [
    {
      "files": "src/assets/icons.js",
      "options": {
        "trailingComma": "es5",
        "printWidth": 2000
      }
    },
    {
      "files": "src/css/**",
      "options": {
        "printWidth": 150
      }
    },
    {
      "files": "src/i18n/**",
      "options": {
        "trailingComma": "es5"
      }
    }
  ]
}
