@import './fonts/Volte/font.scss';

@import './login.scss';

@import './emoji.scss';

*:focus {
  outline-color: $primary;
}

.page-component {
  min-height: inherit !important;
}

.q-header,
.q-footer {
  background: white;
}

.menu-section {
  $border-radius: 20px;

  width: 100%;
  border-radius: $border-radius;

  .menu-button {
    width: 100%;
    color: $primary;
    border-radius: $border-radius;

    .nav {
      &.q-hoverable {
        .q-focus-helper {
          border-radius: 3px;
        }
        &.first {
          .q-focus-helper {
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
          }
        }
        &.last {
          .q-focus-helper {
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
          }
        }
      }
    }
  }
}

.menu-button {
  background-color: $grey-lighter;

  .menu-icon {
    color: $primary;
    margin-right: 24px;
  }

  &.nav {
    .menu-icon,
    .menu-label {
      color: $grey-light;
    }

    &:hover,
    &:focus {
      .menu-label {
        color: $dark;
      }
      .menu-icon {
        color: $primary;
      }
    }

    &.selected {
      .menu-icon {
        color: $primary;
      }
      .menu-label {
        color: $dark;
      }
    }

    &.nav-bottom {
      background-color: transparent;

      .menu-icon {
        margin-right: 0;
      }

      .menu-label {
        display: none;
      }

      &.selected,
      &:hover,
      &:focus {
        background-color: $grey-lighter;
        transition: background-color 0.2s ease-in;

        .menu-icon {
          margin-right: 16px;
        }

        .menu-label {
          display: inherit;
          max-width: 64px;
        }
      }

      &:not(.selected) {
        &:hover,
        &:focus {
          .menu-icon,
          .menu-label {
            color: $grey;
          }

          .menu-label {
            animation: fade_in 0.2s;
          }

          @keyframes fade_in {
            0% {
              max-width: 0;
            }
          }
        }
      }
    }
  }
}

.q-btn {
  border-radius: $roundness; // rounded

  .q-btn__wrapper {
    padding: 0;

    &::before {
      box-shadow: none; // unelevated
    }
  }

  .q-btn__content {
    text-transform: none; // no-caps
    font-weight: $medium;
    font-size: 1.2em;
    line-height: 1.2;
  }

  &.primary {
    color: $primary;
    height: $btn-height;
    min-height: $btn-min-height;
    max-height: 64px;
    padding: 0 42px;

    @media (min-width: $breakpoint-xxs-min) {
      &.q-px-lg {
        padding: 0 64px;
      }
    }

    .q-btn__content {
      font-size: 1.25em;

      @media (min-width: $breakpoint-lg-min) {
        font-size: 1.3em;
      }
    }
  }
}

.container .q-btn {
  width: 100%;
  min-width: 10vw;
  min-height: $btn-min-height;
  height: $btn-height;
  padding: 0 16px 0 16px;
  align-items: center;

  .q-btn__content {
    font-size: 1.5em;
  }
}

.text-break {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: horizontal; // vertical for ellipsis
  -webkit-line-clamp: 1;
  line-height: 1.2em;
  max-height: 1.2em !important;
}

p {
  color: $dark;
  margin-bottom: 0;
  line-height: 1.2em;
}

.q-form {
  .label {
    font-size: 1.25em;
    font-weight: $medium;

    @media (min-width: $breakpoint-lg-min) {
      font-size: 1.3em;
    }
  }
}

h1,
h2,
h3,
h4 {
  color: $dark;
  font-weight: $medium;
  margin: 0;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

.text {
  color: $dark;
  opacity: 60%;

  &-sm {
    font-size: 1.1em;
  }

  &-md {
    font-size: 1.2em;
  }

  &-lg {
    font-size: 1.3em;
  }

  &-xl {
    font-size: 1.5em;
  }

  &-light {
    font-weight: $light;
  }

  &-medium {
    font-weight: $medium;
  }

  &-bold {
    font-weight: bold;
  }

  &-button {
    color: $primary;
    font-weight: $medium;
    cursor: pointer;
  }

  &-white {
    color: white;

    p,
    h1,
    h2,
    h3,
    h4 {
      color: white;
    }
  }

  &-grey {
    color: $grey-light;

    p,
    h1,
    h2,
    h3,
    h4 {
      color: $grey-light;
    }
  }
}

.shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 6px 12px rgba(0, 0, 0, 0.16);

  &-up {
    box-shadow: 0 9px 18px rgba(0, 0, 0, 0.2);
  }
}
.q-focusable:focus {
  .shadow {
    transition: box-shadow 0.3s ease-in;
    box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.3), 0 3px 17px 4px rgba(0, 0, 0, 0.14), 0 5px 22px 6px rgba(0, 0, 0, 0.12);
  }
}

.q-tooltip {
  background-color: $grey;

  p,
  div {
    font-size: 16px;
    color: white;

    &.text-sm {
      font-size: 12px;
    }
  }
}

.q-notification {
  .q-notification__message {
    font-size: 1.2em;
    font-weight: $medium;
  }
}

.q-field {
  transition: padding-bottom 0.3s ease-in;

  .q-field__control {
    min-width: 10vw;
    overflow: hidden;
    border-radius: 10px;
    align-items: center;

    .q-field__marginal {
      height: inherit;
    }

    .q-field__prepend {
      padding-right: 24px;

      @media (max-width: $breakpoint-xs-max) {
        padding-right: 12px;
      }

      .q-icon {
        opacity: 60%;
        -webkit-text-stroke: 0.8px white;
        -webkit-transition: opacity 0.1s ease, color 0.1s ease-in-out;
        transition: opacity 0.1s ease, color 0.1s ease-in-out;
      }
    }

    input,
    textarea,
    select {
      line-height: 1.5em;
      color: $dark;

      @media (min-width: $breakpoint-lg-min) {
        font-size: 1.1em;
      }

      &:-webkit-autofill,
      &:-webkit-autofill::first-line,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        font-size: 14px;
        font-style: italic;
      }
    }
  }

  .q-field__label {
    font-size: 1.2em;

    @media (max-width: $breakpoint-xxxs-max) {
      font-size: 1.1em;
    }

    @media (min-width: $breakpoint-lg-min) {
      font-size: 1.3em;
    }
  }

  &.q-field--focused {
    .q-field__control::after {
      border-color: $primary;
    }
  }

  .q-field__bottom {
    font-size: 1em;
    font-weight: $medium;
  }

  &.filled {
    .q-field__control {
      input,
      textarea,
      select {
        &.text-medium-filled {
          font-weight: $medium;
        }
      }
    }
  }
}

.q-field--outlined {
  .q-field__control {
    min-height: $btn-min-height;
    height: $btn-height;
    padding: 0 32px;
    border-radius: $roundness !important;
    transition: none;

    .q-field__prepend {
      padding-right: 24px;

      @media (min-width: $breakpoint-xmd-min) and (max-width: $breakpoint-xmd-max) {
        padding-right: 12px;
      }
    }

    @media (max-width: $breakpoint-xxs-max) {
      padding: 0 32px;

      .q-field__prepend {
        padding-right: 12px;
      }
    }

    input,
    textarea,
    select {
      opacity: 60%;
      padding: 0;
      font-size: 1.2em;
      -webkit-transition: opacity 0.1s ease, color 0.1s ease-in-out;
      transition: opacity 0.1s ease, color 0.1s ease-in-out;

      @media (max-width: $breakpoint-xxxs-max) {
        font-size: 1.1em;
      }

      @media (min-width: $breakpoint-lg-min) {
        font-size: 1.3em;
      }

      &:-webkit-autofill,
      &:-webkit-autofill::first-line,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        font-size: 18px;
      }
    }

    &:hover {
      .q-field__prepend .q-icon,
      input,
      textarea,
      select {
        opacity: 100%;
        color: $primary;
        -webkit-transition: opacity 0.1s ease, color 0.1s ease-in-out;
        transition: opacity 0.1s ease, color 0.1s ease-in-out;
      }

      &::before {
        border-color: $primary;
        -webkit-transition: border-color 0.1s ease-in-out;
        transition: border-color 0.1s ease-in-out;
      }
    }

    &::after {
      -webkit-transition: none;
      transition: none;
      min-height: $btn-min-height;
      height: $btn-height;
    }
  }

  &.q-field--focused {
    .q-field__control {
      .q-field__prepend .q-icon,
      input,
      textarea,
      select {
        color: $primary;
        opacity: 100%;
      }
    }

    .q-field__control::after {
      -webkit-transition: none;
      transition: none;
    }
  }

  &.filled {
    .q-field__control {
      .q-field__prepend .q-icon,
      input,
      textarea,
      select {
        opacity: 100%;
        color: $primary;
        -webkit-transition: opacity 0.1s ease, color 0.1s ease-in-out;
        transition: opacity 0.1s ease, color 0.1s ease-in-out;
      }
    }

    .q-field__control::before {
      border-color: $primary;
      -webkit-transition: border-color 0.1s ease-in-out;
      transition: border-color 0.1s ease-in-out;
    }

    .q-field__control:hover::after {
      border-color: $primary;
      -webkit-transition: border-color 0.1s ease-in-out;
      transition: border-color 0.1s ease-in-out;
    }

    &.q-field--focused {
      .q-field__control {
        input,
        textarea,
        select {
          font-weight: $medium;

          &:-webkit-autofill,
          &:-webkit-autofill::first-line,
          &:-webkit-autofill:hover,
          &:-webkit-autofill:focus,
          &:-webkit-autofill:active {
            font-weight: $medium;
          }
        }
      }
    }
  }
}

.q-field--filled {
  .q-field__control {
    background: $grey-lighter;

    &::before {
      background: $grey-hover;
      border-bottom: none;
    }
  }

  &.q-field--focused {
    .q-field__control::before {
      background: $grey-hover;
    }
  }
}

.q-field {
  &.q-field--outlined,
  &.q-field--filled {
    &.q-field--with-bottom {
      padding-bottom: 16px;
      transition: padding-bottom 0.3s ease-out;

      &.with-message {
        margin-bottom: 12px;
        padding-bottom: 24px;
        transition: margin-bottom 0.3s ease-out;
      }
    }

    &.q-field--error {
      .q-field__control {
        .q-icon {
          color: $negative;
        }

        input,
        textarea,
        select {
          color: $accent;

          &:-webkit-autofill,
          &:-webkit-autofill::first-line,
          &:-webkit-autofill:hover,
          &:-webkit-autofill:focus,
          &:-webkit-autofill:active {
            color: $accent;
          }
        }

        &::after {
          border-color: $negative;
        }
      }
    }
  }

  &:focus {
    outline: none;
  }
}

.q-textarea {
  // padding for the bottom right expandable
  .q-field__control {
    padding-bottom: 4px;
    padding-right: 4px;

    .q-field__append {
      padding-right: 8px;
    }

    textarea {
      padding-right: 8px;
      padding-bottom: 2px;
    }
  }
}

.q-checkbox {
  .q-checkbox__bg {
    top: 15%;
    left: 15%;
    height: 75%;
    width: 75%;
    border: none;
    border-radius: 5px;

    .q-checkbox__svg {
      padding: 5px;
    }
  }

  .q-checkbox__inner {
    margin-right: 4px;

    &.q-checkbox__inner--falsy {
      .q-checkbox__bg {
        background: $grey-lighter;
      }
    }

    &:before {
      content: none !important;
    }
  }

  .q-checkbox__label {
    color: $grey;
    font-weight: $medium;
  }

  &:hover,
  &:focus {
    .q-checkbox__inner--falsy {
      .q-checkbox__bg {
        background: $grey-hover;
      }
    }

    .q-checkbox__label {
      color: $dark;
    }
  }
}

.with-line-breaks {
  white-space: pre-line;
}

.gt-xxxs {
  @media (max-width: $breakpoint-xxxs-max) {
    display: none;
  }
}

// less than drawer menu breakpoint
// see also: mobile-only
.on-mobile-drawer {
  display: none;
}
.drawer-mobile {
  .on-mobile-drawer {
    display: inherit;
  }
}
