@import './fonts/Volte/font.scss';

.page-component {
  min-height: inherit !important;
}

.container .q-btn {
  width: 100%;
  min-width: 10vw;
  min-height: $btn-min-height;
  height: $btn-height;
  padding: 0 16px 0 16px;
  border-radius: $roundness; // rounded
  display: flex;
  align-items: center;

  .q-btn__wrapper::before {
    box-shadow: none; // unelevated
  }

  .q-btn__content {
    text-transform: none; // no-caps
    font-weight: $medium;
    font-size: 1.5em;
  }
}

.q-toolbar {
  .q-btn {
    line-height: 1.2;
  }
}

.text {
  color: $dark;
  opacity: 60%;

  &-sm {
    font-size: 1.1em;
  }

  &-md {
    font-size: 1.2em;
  }

  &-lg {
    font-size: 1.3em;
  }

  &-xl {
    font-size: 1.5em;
  }

  &-button {
    color: $primary;
    font-weight: $medium;
    cursor: pointer;
  }
}

.q-field {
  transition: padding-bottom 0.32s ease-in;

  .q-field__control {
    min-width: 10vw;
    min-height: $btn-min-height;
    height: $btn-height;
    padding: 0 32px 0 32px;
    border-radius: $roundness !important;
    transition: none;
    align-items: center;

    .q-field__marginal {
      height: inherit;
    }

    .q-field__prepend {
      padding-right: 24px;
    }

    @media (max-width: $breakpoint-xxs-max) {
      padding: 0 16px 0 16px;

      .q-field__prepend {
        padding-right: 12px;
      }
    }

    .q-icon {
      opacity: 60%;
      -webkit-text-stroke: 0.8px white;
      -webkit-transition: opacity 0.1s ease, color 0.1s ease-in-out;
      transition: opacity 0.1s ease, color 0.1s ease-in-out;
    }

    input,
    textarea,
    select {
      opacity: 60%;
      padding: 0;
      font-size: 1.2em;
      -webkit-transition: opacity 0.1s ease, color 0.1s ease-in-out;
      transition: opacity 0.1s ease, color 0.1s ease-in-out;

      @media (max-width: $breakpoint-xxxs-max) {
        font-size: 1.1em;
      }

      @media (min-width: $breakpoint-lg-min) {
        font-size: 1.3em;
      }

      &:-webkit-autofill,
      &:-webkit-autofill::first-line,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        font-size: 18px;
        font-style: italic;
      }
    }

    &:hover::before {
      border-color: $primary;
      -webkit-transition: border-color 0.1s ease-in-out;
      transition: border-color 0.1s ease-in-out;
    }

    &::after {
      -webkit-transition: none;
      transition: none;
      min-height: $btn-min-height;
      height: $btn-height;
    }
  }

  .q-field__label {
    font-size: 1.2em;

    @media (max-width: $breakpoint-xxxs-max) {
      font-size: 1.1em;
    }

    @media (min-width: $breakpoint-lg-min) {
      font-size: 1.3em;
    }
  }
}

.filled {
  .q-field__control::before {
    border-color: $primary;
    -webkit-transition: border-color 0.1s ease-in-out;
    transition: border-color 0.1s ease-in-out;
  }

  .q-field__control:hover::after {
    border-color: $primary;
    -webkit-transition: border-color 0.1s ease-in-out;
    transition: border-color 0.1s ease-in-out;
  }

  .q-field__control {
    .q-icon,
    input,
    textarea,
    select {
      opacity: 100%;
      color: $primary;
      -webkit-transition: opacity 0.1s ease, color 0.1s ease-in-out;
      transition: opacity 0.1s ease, color 0.1s ease-in-out;
    }
  }

  &.q-field--focused {
    .q-field__control {
      input,
      textarea,
      select {
        font-weight: $medium;

        &:-webkit-autofill,
        &:-webkit-autofill::first-line,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
          font-weight: $medium;
        }
      }
    }
  }
}

.q-field--focused .q-field__control {
  .q-icon,
  input,
  textarea,
  select {
    color: $primary;
    opacity: 100%;
  }
}

.q-field--focused .q-field__control::after {
  border-color: $primary;
  -webkit-transition: none;
  transition: none;
}

.q-field__control:hover {
  .q-icon,
  input,
  textarea,
  select {
    opacity: 100%;
    color: $primary;
    -webkit-transition: opacity 0.1s ease, color 0.1s ease-in-out;
    transition: opacity 0.1s ease, color 0.1s ease-in-out;
  }
}

.q-field__bottom {
  font-weight: bold;
}

.with-hint {
  padding-bottom: 32px;
  transition: padding-bottom 0.32s ease-out;
}

.q-field--error {
  padding-bottom: 32px;
  transition: padding-bottom 0.32s ease-out;

  &.filled.q-field--focused {
    .q-field__control {
      input,
      textarea,
      select {
        font-weight: normal;
      }
    }
    &:focus-within,
    &:active .q-field__control {
      input,
      textarea,
      select {
        font-weight: $medium;
      }
    }
  }

  .q-field__control {
    .q-icon {
      color: $negative;
    }

    input,
    textarea,
    select {
      color: $accent;

      &:-webkit-autofill,
      &:-webkit-autofill::first-line,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        color: $accent;
      }
    }

    &:hover::after {
      border-color: $negative;
    }
  }
}

@media (min-width: $breakpoint-xmd-min) and (max-width: $breakpoint-xmd-max) {
  .q-field .q-field__control {
    padding: 0 16px 0 16px;

    .q-field__prepend {
      padding-right: 12px;
    }
  }
}

.with-line-breaks {
  white-space: pre-line;
}
