@import './fonts/Volte/font.scss';

@import './login.scss';

.page-component {
  min-height: inherit !important;
}

.header {
  background-color: transparent;
  padding: 6vh 3.33vw;
}

.content {
  padding: 0 2vw 4vh 3.33vw;
}

.q-page-container {
  min-height: calc(100vh - (56px + 12vh)) !important;
  padding-top: calc(56px + 12vh) !important; // header height + header padding

  .q-page {
    min-height: calc(100vh - (56px + 12vh)) !important;
  }
}

.q-drawer {
  top: calc(56px + 12vh) !important; // header height + header padding
  padding: 0 0 4vh 2vw;

  @media (max-width: $breakpoint-xmd-min) {
    // drawer mobile
    padding: 2.5vw;
    transition: padding 0.3s ease-in;
  }

  .q-drawer__content {
    max-width: 100%;
  }
}

.menu-section {
  $border-radius: 20px;

  width: 100%;
  background-color: $grey-lighter;
  border-radius: $border-radius;

  .menu-button {
    width: 100%;
    border-radius: $border-radius;
    background: transparent;
    color: $primary;

    .q-icon {
      color: $primary;
    }

    &.q-hoverable:hover,
    &.q-hoverable:focus {
      .q-focus-helper {
        opacity: 0.1;
      }
    }

    &.q-hoverable:active {
      .q-focus-helper {
        opacity: 0.2;
      }
    }

    &.dense {
      .q-icon,
      .menu-label > p {
        color: $grey-light;
      }

      &:hover,
      &:focus {
        .menu-label > p {
          color: $dark;
        }
        .q-icon {
          color: $primary;
        }
      }

      &.selected {
        .q-icon {
          color: $primary;
        }
        .menu-label > p {
          color: $dark;
        }
      }

      &.q-hoverable {
        .q-focus-helper {
          border-radius: 3px;
          opacity: 0.05;
        }
        &:active {
          .q-focus-helper {
            opacity: 0.1;
          }
        }
        &.first {
          .q-focus-helper {
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
          }
        }
        &.last {
          .q-focus-helper {
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
          }
        }
      }
    }
  }
}

.q-btn {
  border-radius: $roundness; // rounded

  .q-btn__wrapper {
    padding: 0;

    &::before {
      box-shadow: none; // unelevated
    }
  }

  .q-btn__content {
    text-transform: none; // no-caps
    font-weight: $medium;
    font-size: 1.2em;
    line-height: 1.2;
  }
}

.container .q-btn {
  width: 100%;
  min-width: 10vw;
  min-height: $btn-min-height;
  height: $btn-height;
  padding: 0 16px 0 16px;
  align-items: center;

  .q-btn__content {
    font-size: 1.5em;
  }
}

.logo-menu > img {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.logo-menu:hover > img,
.logo-menu:focus > img {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.text-break {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: horizontal; // vertical for ellipsis
  -webkit-line-clamp: 1;
  line-height: 1.2em;
  max-height: 1.2em;
}

p {
  color: $dark;
  margin-bottom: 0;
  line-height: 1.2em;
}

h1,
h2,
h3,
h4 {
  color: $dark;
  font-weight: $medium;
  margin: 0;
}

.text-white {
  p,
  h1,
  h2,
  h3,
  h4 {
    color: white;
  }
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

.text {
  color: $dark;
  opacity: 60%;

  &-sm {
    font-size: 1.1em;
  }

  &-md {
    font-size: 1.2em;
  }

  &-lg {
    font-size: 1.3em;
  }

  &-xl {
    font-size: 1.5em;
  }

  &-light {
    font-weight: $light;
  }

  &-medium {
    font-weight: $medium;
  }

  &-bold {
    font-weight: $bold;
  }

  &-button {
    color: $primary;
    font-weight: $medium;
    cursor: pointer;
  }
}

.q-field {
  transition: padding-bottom 0.32s ease-in;

  .q-field__control {
    min-width: 10vw;
    min-height: $btn-min-height;
    height: $btn-height;
    padding: 0 32px 0 32px;
    border-radius: $roundness !important;
    transition: none;
    align-items: center;

    .q-field__marginal {
      height: inherit;
    }

    .q-field__prepend {
      padding-right: 24px;
    }

    @media (max-width: $breakpoint-xxs-max) {
      padding: 0 16px 0 16px;

      .q-field__prepend {
        padding-right: 12px;
      }
    }

    .q-icon {
      opacity: 60%;
      -webkit-text-stroke: 0.8px white;
      -webkit-transition: opacity 0.1s ease, color 0.1s ease-in-out;
      transition: opacity 0.1s ease, color 0.1s ease-in-out;
    }

    input,
    textarea,
    select {
      opacity: 60%;
      padding: 0;
      font-size: 1.2em;
      -webkit-transition: opacity 0.1s ease, color 0.1s ease-in-out;
      transition: opacity 0.1s ease, color 0.1s ease-in-out;

      @media (max-width: $breakpoint-xxxs-max) {
        font-size: 1.1em;
      }

      @media (min-width: $breakpoint-lg-min) {
        font-size: 1.3em;
      }

      &:-webkit-autofill,
      &:-webkit-autofill::first-line,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        font-size: 18px;
        font-style: italic;
      }
    }

    &:hover::before {
      border-color: $primary;
      -webkit-transition: border-color 0.1s ease-in-out;
      transition: border-color 0.1s ease-in-out;
    }

    &::after {
      -webkit-transition: none;
      transition: none;
      min-height: $btn-min-height;
      height: $btn-height;
    }
  }

  .q-field__label {
    font-size: 1.2em;

    @media (max-width: $breakpoint-xxxs-max) {
      font-size: 1.1em;
    }

    @media (min-width: $breakpoint-lg-min) {
      font-size: 1.3em;
    }
  }
}

.filled {
  .q-field__control::before {
    border-color: $primary;
    -webkit-transition: border-color 0.1s ease-in-out;
    transition: border-color 0.1s ease-in-out;
  }

  .q-field__control:hover::after {
    border-color: $primary;
    -webkit-transition: border-color 0.1s ease-in-out;
    transition: border-color 0.1s ease-in-out;
  }

  .q-field__control {
    .q-icon,
    input,
    textarea,
    select {
      opacity: 100%;
      color: $primary;
      -webkit-transition: opacity 0.1s ease, color 0.1s ease-in-out;
      transition: opacity 0.1s ease, color 0.1s ease-in-out;
    }
  }

  &.q-field--focused {
    .q-field__control {
      input,
      textarea,
      select {
        font-weight: $medium;

        &:-webkit-autofill,
        &:-webkit-autofill::first-line,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
          font-weight: $medium;
        }
      }
    }
  }
}

.q-field--focused .q-field__control {
  .q-icon,
  input,
  textarea,
  select {
    color: $primary;
    opacity: 100%;
  }
}

.q-field--focused .q-field__control::after {
  border-color: $primary;
  -webkit-transition: none;
  transition: none;
}

.q-field__control:hover {
  .q-icon,
  input,
  textarea,
  select {
    opacity: 100%;
    color: $primary;
    -webkit-transition: opacity 0.1s ease, color 0.1s ease-in-out;
    transition: opacity 0.1s ease, color 0.1s ease-in-out;
  }
}

.q-field__bottom {
  font-weight: bold;
}

.with-hint {
  padding-bottom: 32px;
  transition: padding-bottom 0.32s ease-out;
}

.q-field--error {
  padding-bottom: 32px;
  transition: padding-bottom 0.32s ease-out;

  &.filled.q-field--focused {
    .q-field__control {
      input,
      textarea,
      select {
        font-weight: normal;
      }
    }
    &:focus-within,
    &:active .q-field__control {
      input,
      textarea,
      select {
        font-weight: $medium;
      }
    }
  }

  .q-field__control {
    .q-icon {
      color: $negative;
    }

    input,
    textarea,
    select {
      color: $accent;

      &:-webkit-autofill,
      &:-webkit-autofill::first-line,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        color: $accent;
      }
    }

    &:hover::after {
      border-color: $negative;
    }
  }
}

@media (min-width: $breakpoint-xmd-min) and (max-width: $breakpoint-xmd-max) {
  .q-field .q-field__control {
    padding: 0 16px 0 16px;

    .q-field__prepend {
      padding-right: 12px;
    }
  }
}

.with-line-breaks {
  white-space: pre-line;
}
