$primary: #015afe;
$secondary: #9b75e4;
$accent: #512884;

$positive: #50c5b7;
$negative: #fd9999;
$info: #4eb5dd;
$warning: #f9c80e;

$dark: #1c1d21;
$grey: adjust-color(
  $color: $dark,
  $alpha: -0.35
);
$grey-light: adjust-color(
  $color: $dark,
  $alpha: -0.8
);
$grey-hover: adjust-color(
  $color: $dark,
  $alpha: -0.95
);
$grey-lighter: adjust-color(
  $color: $dark,
  $alpha: -0.975
);

$roundness: 10em;
$btn-height: 7vh;
$btn-min-height: 3.5em;

$breakpoint-xxxs-min: 0px;
$breakpoint-xxxs-max: 349px;
$breakpoint-xxs-min: 350px;
$breakpoint-xxs-max: 449px;
$breakpoint-xsm-min: 450px;
$breakpoint-xsm-max: 799px;
$breakpoint-xmd-min: 800px;
$breakpoint-xmd-max: 1279px;
$breakpoint-xlg-min: 1280px;
$breakpoint-xlg-max: 1649px;
