@font-face {
  font-family: 'Volte';
  font-style: normal;
  font-weight: 300;
  src: local('Volte Rounded Light'), url('./VolteRounded-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Volte';
  font-style: normal;
  font-weight: 400;
  src: local('Volte Rounded'), url('./VolteRounded-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Volte';
  font-style: normal;
  font-weight: 500;
  src: local('Volte Rounded Medium'), url('./VolteRounded-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Volte';
  font-style: normal;
  font-weight: 700;
  src: local('Volte Rounded Semibold'), url('./VolteRounded-Semibold.otf') format('opentype');
}

@font-face {
  font-family: 'Volte';
  font-style: normal;
  font-weight: 900;
  src: local('Volte Rounded Bold'), url('./VolteRounded-Bold.otf') format('opentype');
}
